{% load i18n static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- <link rel="stylesheet" href="{% static 'app/bootstrap/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'app/css/bootstrap-dark.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/font-awesome/css/all.css' %}">
    <script src="{% static 'app/js/jquery-3.6.0.min.js' %}"></script>

    <script src="{% url 'javascript-catalog' %}"></script>
    <script src="{% static 'app/js/luxon.min.js' %}"></script>
    <script src="{% static 'app/js/functions.js' %}"></script>

    {% get_current_language as LANGUAGE_CODE %}

    <style>
        #messages {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 10000;
        }

        .nav-item img {
            height: 16px;
            width: 16px;
            margin: 0 4px 0 4px;
        }
        .hide {
            display: none;
        }
    </style>

    <script>
        LOCALE = "{{ LANGUAGE_CODE }}"
        LOCALE = "en"
        const ICONS = {
            home: {
                inactive: "{% static 'app/assets/images/home-variant-outline.svg' %}",
                active: "{% static 'app/assets/images/home-variant.svg' %}"
            },
            games: {
                inactive: "{% static 'app/assets/images/controller-classic-outline.svg' %}",
                active: "{% static 'app/assets/images/controller-classic.svg' %}"
            },
            tournaments: {
                inactive: "{% static 'app/assets/images/competition-cup-inactive.svg' %}",
                active: "{% static 'app/assets/images/competition-cup.svg' %}"
            }
        }
    </script>

    {% block styles %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Mate</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% block home_active %}{% endblock %}" aria-current="page" id="home_link"
                            href="{% url 'app:home' %}"><img src="{% static 'app/assets/images/home-variant-outline.svg' %}" alt="">{% trans "Home" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block tournaments_active %}{% endblock %}" id="tournaments_link"
                            href="{% url 'app:tournaments' %}"><img src="{% static 'app/assets/images/competition-cup.svg' %}" alt="">{% trans "Tournaments" %}</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <a href="" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false"
                        class="d-block link-dark text-decoration-none dropdown-toggle">
                        <img src="{% static 'app/assets/img/rick-and-morty.jpg' %}" alt="" width="32" height="32"
                            class="rounded-circle">
                        <span>{{ request.user.username }}</span>
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser">
                        <li>
                            <a href="" class="nav-link px-2 link-secondary">
                                <i class="fas fa-cog pr-3"></i>
                                {% trans "Settings" %}</a>
                        </li>
                        <li>
                            <a href="{% url 'app:logout' %}" class="nav-link px-2 link-secondary">
                                <i class="fas fa-power-off pr-3"></i>
                                {% trans "Log out" %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div id="messages">
    </div>

    {% block content %}
    {% endblock %}

    <input type="hidden" id="show-sign-in-prompt" data-bs-target="#sign-in-prompt" data-bs-toggle="modal">
    <div class="modal" tabindex="-1" id="sign-in-prompt">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <span>
                        {% trans "You need to be signed in to enroll in a tournament" %}
                    </span>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="{% url 'app:signup' %}" id="sign-up">{% trans "Sign up" %}</a>
                    <a class="btn btn-primary" href="{% url 'app:login' %}" id="login">{% trans "Log in" %}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="delete-item-prompt">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    {% trans "Delete item" %}
                </div>
                <div class="modal-body">
                    {% trans "Are you sure you want to delete this item?" %}
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-danger">{% trans "Yes" %}</button>
                    <button type="button" data-bs-dismiss="modal" class="btn btn-outline-primary">{% trans "No" %}</button>
                </div>
            </div>
        </div>
    </div>
    {% block modals %}
    {% endblock %}
</body>
<script src="{% static 'app/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% block js %}
{% endblock %}

</html>