{% extends 'app/base.html' %}
{% load i18n static %}

{% block home_active %}
active
{% endblock %}

{% block content %}
<div class="row">
    <div class="mt-3 ms-3">
        <button class="btn btn-primary">{% trans "Add tournament" %}</button>
    </div>
</div>

<div class="mt-3 container">
    <span>{% trans "Your tournaments" %}</span>

    <div class="row gx-5" id="tournaments">
        <div class="card col-md-4">
            <div class="card-body">
                <h5 class="card-title">Tournament name</h5>
                <p class="card-text">Created by <strong>Almighty creator</strong> </p>
                <p class="card-text">Created on <strong>12 February 2011</strong></p>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-body">
                <h5 class="card-title">Tournament name</h5>
                <p class="card-text">Created by <strong>Almighty creator</strong> </p>
                <p class="card-text">Created on <strong>12 February 2011</strong></p>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-body">
                <h5 class="card-title">Tournament name</h5>
                <p class="card-text">Created by <strong>Almighty creator</strong> </p>
                <p class="card-text">Created on <strong>12 February 2011</strong></p>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-body">
                <h5 class="card-title">Tournament name</h5>
                <p class="card-text">Created by <strong>Almighty creator</strong> </p>
                <p class="card-text">Created on <strong>12 February 2011</strong></p>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-body">
                <h5 class="card-title">Tournament name</h5>
                <p class="card-text">Created by <strong>Almighty creator</strong> </p>
                <p class="card-text">Created on <strong>12 February 2011</strong></p>
            </div>
        </div>
        <!-- <div class="card col-md-4">
            <div class="card-body">
                <h5 class="card-title">Tournament name</h5>
                <p class="card-text">Created by <strong>Almighty creator</strong> </p>
                <p class="card-text">Created on <strong>12 February 2011</strong></p>
            </div>
        </div> -->
        <!-- <div class="card col-md-4">
            <div class="card-body">
                <h5 class="card-title">Tournament name</h5>
                <p class="card-text">Created by <strong>Almighty creator</strong> </p>
                <p class="card-text">Created on <strong>12 February 2011</strong></p>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-body">
                <h5 class="card-title">Tournament name</h5>
                <p class="card-text">Created by <strong>Almighty creator</strong> </p>
                <p class="card-text">Created on <strong>12 February 2011</strong></p>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-body">
                <h5 class="card-title">Tournament name</h5>
                <p class="card-text">Created by <strong>Almighty creator</strong> </p>
                <p class="card-text">Created on <strong>12 February 2011</strong></p>
            </div>
        </div> -->
    </div>
</div>
{% endblock %}