{% load static i18n pwa %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% trans 'Index page' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Mate" %}</title>
    <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'app/bootstrap/css/bootstrap.min.css' %}">

    <style>
        .logo {
            display: none;
        }
    </style>
</head>

<body>
    <main class="main">
        <!-- Header -->
        <header class="header">
            <div class="container flex-between">
                <div class="logo">
                    <a href="#">
                        <img src=" {% static 'images/logo.svg' %}"
                            alt="" />
                    </a>
                </div>
                <nav class="main-navgation flex-between flex-ver-top">
                    <div class="nav-links">
                        <!-- <a href="#features">Features</a>
                        <a href="#pricing">Pricing</a>
                        <a href="#resources">Resources</a> -->
                    </div>
                    <div class="nav-buttons">
                        <a href="{% url 'app:login' %}" class="log-in">{% trans 'Login' %}</a>
                        <a href="{% url 'app:signup' %}" class="sign-up btn btn-sm btn-primary">{% trans "Sign up" %}</a>
                    </div>
                </nav>
                <div class="burger-menu">
                    <i class="fa-regular fa-bars icon"></i>
                </div>
            </div>
        </header>
        <div class="phone nav-buttons">
            <a href="{% url 'app:login' %}">{% trans 'Login' %}</a>
            <a href="{% url 'app:signup' %}" class="btn btn-primary" id="mobile-sign-up">{% trans 'Sign up' %}</a>
        </div>
        <!-- Landing -->
        <section class="landing">
            <div class="landing-text">
                <h1>{% trans "Manage tournaments" %}</h1>
                <p>
                    {% trans "Create, edit and enroll in tournaments of any kind" %}
                </p>
            </div>
            <div class="landing-image">
                <img src="{% static 'images/index-image.jpg' %}"
                    alt="Working Illustration" />
            </div>
        </section>
        <!-- Features -->
        <section class="features" id="features">
            <div class="container">
                <!-- Advanced Features -->
                <div class="more-features">
                    <div class="section-header">
                        <p>
                            {% trans "Track how you and your opponents have been performing during the tournament" %}
                        </p>
                    </div>
                    <div class="more-features-content">
                        <div class="feature">
                            <div class="feature-details">
                                <h3>{% trans "Participant notifications" %}</h3>
                                <p>
                                    {% trans "Automatically notify participants of upcoming matches in tournaments they've been enrolled in through the app and Telegram" %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="footer" id="resources">
            <div class="container">
                <!-- Website Logo -->
                <div class="logo">
                    <a href="#">
                        <img src="{% static 'images/logo.svg' %}"
                            alt="" />
                    </a>
                </div>
                <!-- Social Media -->
                <div class="social-media">
                    <a href="https://twitter.com/intent/tweet?screen_name=ngprince82&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @ngprince82</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
            <!-- Made By -->
            <div class="attribution">
                <ul class="social-media">
                    <li>
                        <a href="https://www.codepen.io/FedLover" title="go To My Codepen Account">
                            <i class="fa-brands fa-codepen icon"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.frontendmentor.io/profile/MohamedAridah"
                            title="go To My Frontend Mentor Account">
                            <img src="https://mohamedaridah.github.io/hosted-assets/FEM.png" class="image" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </main>
</body>
<script src="{% static 'app/js/index.js' %}"></script>

</html>