{% extends 'app/base.html' %}
{% load i18n static pwa %}

{% block styles %}
<meta name="description" content="{% trans 'List of tournaments' %}">
{% progressive_web_app_meta %}
{% endblock %}

{% block tournaments_active %}active{% endblock %}

{% block js %}
<script src="{% static 'app/js/tournaments.js' %}"></script>
<script src="{% static 'app/js/home.js' %}"></script>
{% endblock %}

{% block title %}
{% blocktranslate %}
Mate | Tournaments
{% endblocktranslate %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="mt-3 ms-3">
        <button class="btn btn-primary" data-bs-target="#new_tournament" data-bs-toggle="modal">{% trans "Add tournament" %}</button>
    </div>
</div>

<div class="mt-3 container">
    <span>{% trans "Your tournaments" %}</span>

    <div class="row g-2" id="tournaments"></div>
</div>

<div class="mt-3 container">
    <span>{% trans "All tournaments" %}</span>

    <div class="p-3 d-flex col-md-4">
        <input id="tournament-search" type="search" class="form-control me-2" placeholder="{% trans 'Search' %}"
            aria-label="Search">
    </div>

    <div class="row g-2" id="all-tournaments">

    </div>
</div>
{% endblock %}

{% block modals %}
<div class="modal" tabindex="-1" id="new_tournament">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{% trans "New tournament" %}</div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="row hide" id="new_tournament_info">
                        <div class="mb-3">
                            <label for="name" class="form-label">{% trans "Name" %}</label>
                            <input type="text" name="name" class="form-control" id="new_tournament_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="number_of_participants" class="form-label">{% trans "Number of participants"
                                %}</label>
                            <input type="number" name="number_of_participants" class="form-control"
                                id="new_tournament_number_of_participants" required>
                        </div>
                        <div class="mb-3">
                            <label for="new_tournament_number_of_points_for_win">{% trans "Number of points for win"
                                %}</label>
                            <input type="number" id="new_tournament_number_of_points_for_win" class="form-control"
                                value="1" step="0.1">
                        </div>
                        <div class="mb-3">
                            <label for="new_tournament_number_of_points_for_loss">{% trans "Number of points for loss"
                                %}</label>
                            <input type="number" id="new_tournament_number_of_points_for_loss" class="form-control"
                                value="0" step="0.1">
                        </div>
                        <div class="mb-3">
                            <label for="new_tournament_number_of_points_for_draw">{% trans "Number of points for draw"
                                %}</label>
                            <input type="number" id="new_tournament_number_of_points_for_draw" class="form-control"
                                value="0.5" step="0.1">
                        </div>
                    </div>
                    <div class="row" id="new_tournament_files">
                        <div class="row" id="image-container">
                            <div class="card mb-3 text-center">
                                <img src="{% static 'app/assets/images/no-image.png' %}" class="card-img-top rounded-2" id="tournament-img-preview">
                                <label class="btn btn-primary my-3" for="new_tournament_image">{% trans "Upload an image" %}</label>
                                <input type="file" name="new_tournament_image" id="new_tournament_image"
                                    accept="image/*" class="hide image-input" data-preview-element="#tournament-img-preview">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="new_tournament_terms">{% trans "Terms &conditions" %}</label>
                            <input type="file" name="new_tournament_terms" id="new_tournament_terms"
                                class="form-control" accept=".md,.txt">
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary disabled" id="submit_new_tournament">{% trans "Submit" %}</button>
            </div>
        </div>
    </div>
</div>

<div id="accept-notifications" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Are you sure you want to enroll in this tournament ?" %}</h5>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row py-3 hide" id="terms-and-conditions-parent">
                    {% trans "Enrolling in this tournament implies that you have read and accepted the organizer's Rules and Regulations" %}

                    <div class="accordion" id="terms-and-conditions-accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="terms-and-conditions">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#terms-and-conditions-container" aria-expanded="false" aria-controls="terms-and-conditions-container">
                                    {% trans "Terms & Conditions" %}
                                </button>
                            </h2>
                            <div class="accordion-collapse collapse" id="terms-and-conditions-container" aria-labelledby="terms-and-conditions" data-bs-parent="#terms-and-conditions-accordion">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-check md-3">
                    <input type="checkbox" class="form-check-input" id="accept-notifications-checkbox">
                    <label for="accept-notifications-checkbox" class="form-check-label">{% trans "I would like to receive notifications concerning this tournament" %}</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">{% trans "No, I disagree" %}</button>
                <button class="btn btn-primary">{% trans "Yes, I agree" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}