{% extends 'app/base.html' %}
{% load crispy_forms_tags i18n static pwa %}

{% block tournaments_active %}
active
{% endblock %}

{% block title %}
{% blocktranslate with id=tournament.id %}
Mate | Tournaments | {{id}}
{% endblocktranslate %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/datatables.bootstrap5.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/bracket-codepen.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app/simplepicker/dist/simplepicker.css' %}">
<meta name="description" content="{% trans 'Tournament detail' %}">
<script src="{% static 'app/simplepicker/dist/simplepicker.js' %}"></script>
<script src="{% static 'app/js/jquery.datatables.min.js' %}"></script>
<script src="{% static 'app/js/datatables.bootstrap5.min.js' %}"></script>
{% progressive_web_app_meta %}

<style>
    #layout-container {
        width: 100%;
        height: 100vh;
        position: relative;
    }
    #layout-container>div {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    #layout-container>div.hide {
        display: none;
    }
</style>
{% endblock %}

{% block js %}
<script src="{% static 'app/js/tournament_detail.js' %}"></script>
<script>
    $(document).ready(function () {
        $("#list_of_participants").DataTable()
        $("#fixtures-table").DataTable({
            "order": [[5, "asc"], [0, "desc"]]
        })
        TOURNAMENT_WIN = {{ tournament.number_of_points_for_win }}
        TOURNAMENT_LOSS = {{ tournament.number_of_points_for_loss }}
        TOURNAMENT_DRAW = {{ tournament.number_of_points_for_draw }}

        TOURNAMENT_WIN = parseFloat(TOURNAMENT_WIN)
        TOURNAMENT_LOSS = parseFloat(TOURNAMENT_LOSS)
        TOURNAMENT_DRAW = parseFloat(TOURNAMENT_DRAW)
    })
</script>
{% endblock %}

{% block content %}
<input type="hidden" id="tournament_id" value="{{ tournament.id }}">
<div class="row p-3">
    <div class="col-md-4 text-center">
        <span>{% trans "Number of participants enrolled: " %} {{ tournament.number_of_enrolled_participants }}</span>
        <br>
        <span>{% trans "Total number of participants: " %} {{ tournament.total_number_of_participants }}</span>
    </div>
    <div class="col-md-8 text-end p-3">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#participants_list">{% trans "View list of enrolled participants" %}</button>
        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#fixture_detail">{% trans "View fixture detail" %}</button>
    </div>
</div>
<div class="row p-3">
    <div class="mb-3 col-md-3">
        <label for="layout-select">{% trans "Tournament layout" %}</label>

        <select id="layout-select" class="form-control select">
            <option value="1">{% trans "Table layout" %}</option>
            <option value="2">{% trans "Bracket layout" %}</option>
        </select>
    </div>

    <div id="layout-container">
        <div class="row" id="table-layout">
            <div class="col-md-12">
                <table class="table table-striped" id="fixtures-table">
                    <thead>
                        <th>{% trans "Number of participants" %}</th>
                        <th>{% trans "Fixture level" %}</th>
                        <th>{% trans "Players" %}</th>
                        <th>{% trans "Games" %}</th>
                        <th>{% trans "Winner" %}</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for fixture in tournament.fixture_set.all %}
                        <tr>
                            <td>
                                {{ fixture.level_number }}
                            </td>
                            <td>
                                {{ fixture.level }}
                            </td>
                            <td class="player-container">
                                <ul>
                                    {% for fixture_player in fixture.playerfixture_set.all %}
                                    <li>{{ fixture_player.player.player }}</li>
                                    {% empty %}
                                    <li>{% trans "This fixture has no players" %}</li>
                                    {% endfor %}
    
                                    {% if fixture.playerfixture_set.count < 2 and request.session.player and tournament.creator.id == request.session.player.id %} 
                                    <button class="btn btn-primary">
                                        {% trans "Add a player" %}</button>
                                    {% endif %}
                                </ul>
                            </td>
                            <td>
                                {% for fixture_player in fixture.playerfixture_set.all %}
                                <input type="hidden" class="player" id="{{ fixture_player.id }}"
                                    value="{{ fixture_player.player.player }}">
                                {% endfor %}
    
                                {% for game in fixture.game_set.all %}
                                <button class="btn btn-secondary display-game" onclick="showGameDetail( {{ game.id }} )"
                                    data-bs-target="#game_detail" data-bs-toggle="modal" data-game-id="{{ game.id }}"
                                    data-fixture-id="{{ fixture.id }}">
                                    {% blocktranslate with game_number=forloop.counter %}
                                    Game #{{ game_number }}
                                    {% endblocktranslate %}
                                </button>
                                {% empty %}
                                <ul>
                                    <li>{% trans "This fixture has no games" %}</li>
                                </ul>
                                {% endfor %}
                                {% if request.session.player and tournament.creator.id == request.session.player.id %}
                                <button class="btn btn-primary add-game" data-bs-toggle="modal" data-bs-target="#new_game"
                                    data-fixture-id="{{ fixture.id }}">
                                    {% trans "Add a game" %}
                                </button>
                                {% endif %}
                            </td>
                            <td>
                                {% if fixture.get_winner %}
                                <input id="fixture_{{ fixture.id }}_winner" value="{{ fixture.get_winner.id }}"
                                    class="form-control" type="hidden" readonly />
                                <input type="text" value="{{ fixture.get_winner.player.player.name }}" readonly
                                    class="form-control">
                                {% else %}
                                {% trans "This fixture has no winner" %}
                                    {% if fixture.tournament.creator.id == request.user.player.id %}
                                    <div class="mb-3">
                                        <label for="fixture_{{ fixture.id }}_winner">{% trans "Pick a winner" %}</label>
                                        <select id="fixture_{{ fixture.id }}_winner" class="form-control">
                                            <option value="">---</option>
                                            {% for player in fixture.playerfixture_set.all %}
                                            <option value="{{ player.id }}">{{ player.player.player.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if not fixture.finished and fixture.tournament.creator.id == request.session.player.id %}
                                <button class="btn btn-primary trigger-finish-fixture" data-bs-target="#finish-fixture"
                                    data-bs-toggle="modal" data-winner-selector="#fixture_{{ fixture.id }}_winner"
                                    data-fixture-id="{{ fixture.id }}">{% trans "Finish" %}</button>
                                {% elif fixture.finished %}
                                {% trans "Finished" %}
                                {% else %}
                                {% trans "Not Finished" %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="bracket-container brackets" id="brackets-layout">
        </div>
    </div>
</div>

<div class="row p-3">
    {% if not tournament.started %}
    {% if request.session.player.id and tournament.creator.id == request.session.player.id %}
    <button class="btn btn-primary {% if tournament.clean %}disabled{% endif %}">
        {% trans "Start" %}
    </button>
    {% else %}
    <div class="mb-3 btn-outline-danger">
        {% trans "This tournament has not yet started" %}
    </div>
    {% endif %}
    {% endif %}

</div>
{% endblock %}

{% block modals %}
<div id="participants_list" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{% trans "List of participants" %}</div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped" id="list_of_participants">
                    <thead>
                        <tr>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Class" %}</th>
                            {% if request.session.player.id == tournament.creator.id %}
                            <th>{% trans "Action" %}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if request.session.player.id == tournament.creator.id %}
                        {% for tournament_player in tournament.tournamentplayer_set.all%}
                        <tr>
                            <td>
                                {{ tournament_player.player.name }}
                            </td>
                            <td>
                                {{ tournament_player.player.classroom }}
                            </td>
                            <td>
                                {% if tournament_player.participating and not tournament_player.kicked_out %}
                                <button class="btn btn-danger" onclick="kickOut({{ tournament_player.id }})">{% trans "Kick out" %}</button>
                                {% elif not tournament_player.participating %}
                                <button class="btn btn-primary" onclick="enroll( {{ tournament_player.id }} )">{% trans "Enroll" %}</button>
                                {% elif tournament_player.kicked_out %}
                                <button class="btn btn-outline-danger disabled">{% trans "Kicked out" %}</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        {% for player in tournament.enrolled_participants %}
                        <tr>
                            <td>
                                {{ player.player.name }}
                            </td>
                            <td>
                                {{ player.player.classroom }}
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% if request.session.player and tournament.creator.id == request.session.player.id %}
<div id="new_game" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "New game" %}</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="new_game_fixture" readonly>
                <div class="mb-3">
                    <label for="new_game_classroom">{% trans "Classroom*" %}</label>
                    <input type="text" class="form-control" id="new_game_classroom">
                </div>
                <div class="mb-3">
                    <label>{% trans "Date & Time*" %}</label>
                    <input type="text" id="new_game_datetime_formatted" class="form-control" readonly>
                    <input type="hidden" class="form-control" id="new_game_datetime">
                </div>
                <div class="mb-3">
                    <label for="new_game_minutes_per_player">{% trans "Minutes per player*" %}</label>
                    <input type="number" step="1" class="form-control" id="new_game_minutes_per_player" value="15">
                </div>
                <div class="row">
                    <div class="col-md-8 player">
                        <label for="new_game_white">{% trans "White" %}</label>
                        <select class="form-control select" id="new_game_white"></select>
                    </div>
                    <div class="col-md-4">
                        <label for="new_game_white_score">{% trans "Score" %}</label>
                        <select id="new_game_white_score" class="form-control score"
                            data-opponent-score="#new_game_black_score">
                            <option value={{ tournament.number_of_points_for_draw }}>{% trans "Draw" %}</option>
                            <option value={{ tournament.number_of_points_for_win }}>{% trans "Win" %}</option>
                            <option value={{ tournament.number_of_points_for_loss }}>{% trans "Loss" %}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 player">
                        <label for="new_game_black">{% trans "Black" %}</label>
                        <select class="form-control select" id="new_game_black"></select>
                    </div>
                    <div class="col-md-4">
                        <label for="new_game_black_score">{% trans "Score" %}</label>
                        <select id="new_game_black_score" class="form-control score"
                            data-opponent-score="#new_game_white_score">
                            <option value="{{ tournament.number_of_points_for_draw }}">{% trans "Draw" %}</option>
                            <option value="{{ tournament.number_of_points_for_win }}">{% trans "Win" %}</option>
                            <option value="{{ tournament.number_of_points_for_loss }}">{% trans "Loss" %}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="add-game">{% trans "Submit" %}</button>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    {% trans "Close" %}
                </button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div id="game_detail" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-header"></h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="game_id" readonly>
                <input type="hidden" id="game_fixture" readonly>

                <div class="mb-3">
                    <label for="game_classroom">{% trans "Classroom*" %}</label>
                    <input type="text" class="form-control" id="game_classroom">
                </div>
                <div class="mb-3">
                    <label>{% trans "Date & Time*" %}</label>
                    <input type="text" id="game_datetime_formatted" class="form-control" readonly>
                    <input type="hidden" class="form-control" id="game_datetime">
                </div>
                <div class="mb-3">
                    <label for="game_minutes_per_player">{% trans "Minutes per player*" %}</label>
                    <input type="number" step="1" class="form-control" id="game_minutes_per_player" value="20">
                </div>
                <div class="row">
                    <div class="col-md-8 player">
                        <label for="game_white">{% trans "White" %}</label>
                        <select class="form-control select" id="game_white"></select>
                    </div>
                    <div class="col-md-4">
                        <label for="game_white_score">{% trans "Score" %}</label>
                        <select id="game_white_score" class="form-control score"
                            data-opponent-score="#game_black_score">
                            <option value="{{ tournament.number_of_points_for_draw }}">{% trans "Draw" %}</option>
                            <option value="{{ tournament.number_of_points_for_win }}">{% trans "Win" %}</option>
                            <option value="{{ tournament.number_of_points_for_loss }}">{% trans "Loss" %}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 player">
                        <label for="game_black">{% trans "Black" %}</label>
                        <select class="form-control select" id="game_black"></select>
                    </div>
                    <div class="col-md-4">
                        <label for="game_black_score">{% trans "Score" %}</label>
                        <select id="game_black_score" class="form-control score"
                            data-opponent-score="#game_white_score">
                            <option value="{{ tournament.number_of_points_for_draw }}">{% trans "Draw" %}</option>
                            <option value="{{ tournament.number_of_points_for_win }}">{% trans "Win" %}</option>
                            <option value="{{ tournament.number_of_points_for_loss }}">{% trans "Loss" %}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {% if tournament.creator.id == request.session.player.id %}
                <button class="btn btn-primary" id="edit-game">{% trans "Submit" %}</button>
                {% endif %}
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                    {% trans "Close" %}
                </button>
            </div>
        </div>
    </div>
</div>

<div id="finish-fixture" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Finish fixture?" %}</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                {% trans "Once a fixture is marked as finished, it cannot be reverted. Are you sure you want to mark
                this fixture as finished?" %}
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger finish-fixture" data-bs-dismiss="modal">{% trans "Yes" %}</button>
            </div>
        </div>
    </div>
</div>

<div id="fixture_detail" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Test Player 1 vs Test Player 2</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        {% trans 'Winner: ' %}
                    </div>
                    <div class="col-md-9" class="winner-container">
                        <input type="text" class="form-control" readonly value="Test Player 1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {% trans "Games" %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>{% trans "Date & Time" %}</th>
                                    <th>{% trans "White" %}</th>
                                    <th>{% trans "Black" %}</th>
                                    <th>{% trans "Score" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Sun. 12 March 2022, 18:23</td>
                                    <td>Test Player 1</td>
                                    <td>Test Player 2</td>
                                    <td>{% trans "1-0" %}</td>
                                </tr>
                                <tr>
                                    <td>Sun. 19 March 2022, 18:23</td>
                                    <td>Test Player 2</td>
                                    <td>Test Player 1</td>
                                    <td>{% trans "1-0" %}</td>
                                </tr>
                                <tr>
                                    <td>Sun. 26 March 2022, 18:23</td>
                                    <td>Test Player 1</td>
                                    <td>Test Player 2</td>
                                    <td>{% trans "1/2-1/2" %}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row">
                            <button class="col-md-3 btn btn-primary">{% trans "Add a game" %}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-danger">{% trans "Finish" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}