{% extends 'app/base.html' %}
{% load crispy_forms_tags i18n static %}

{% block tournaments_active %}
active
{% endblock %}

{% block title %}
{% blocktranslate with id=tournament.id %}
Mate | Tournaments | {{id}}
{% endblocktranslate %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'app/css/datatables.bootstrap5.min.css' %}">
<script src="{% static 'app/js/jquery.datatables.min.js' %}"></script>
<script src="{% static 'app/js/datatables.bootstrap5.min.js' %}"></script>
{% endblock %}

{% block js %}
<script src="{% static 'app/js/d3.v7.min.js' %}"></script>
<script src="{% static 'app/js/tournament_detail.js' %}"></script>
<script>
    $(document).ready(function () {
        $("#list_of_participants").DataTable()
    })
</script>
{% endblock %}

{% block content %}
<input type="hidden" id="tournament_id" value="{{ tournament.id }}">
<div class="row p-3">
    <div class="col-md-4 text-center">
        <span>{% trans "Number of participants enrolled: " %} {{ tournament.number_of_enrolled_participants }}</span>
        <br>
        <span>{% trans "Total number of participants: " %} {{ tournament.total_number_of_participants }}</span>
    </div>
    <div class="col-md-8 text-end p-3">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#participants_list">{% trans "View list of enrolled participants" %}</button>
    </div>
</div>
<div class="row p-3">
    <span>{% trans "Tournament layout" %}</span>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped" id="fixtures-table">
                <thead>
                    <th>{% trans "Fixture level" %}</th>
                    <th>{% trans "Players" %}</th>
                    <th>{% trans "Games" %}</th>
                </thead>
                <tbody>
                    {% for fixture in tournament.fixture_set.all %}
                    <tr>
                        <td>
                            {{ fixture.level }}
                        </td>
                        <td>
                            <ul>
                                {% for fixture_player in fixture.fixtureplayer_set.all %}
                                <li>{{ fixture_player.player.name }}</li>
                                {% empty %}
                                <li>{% trans "This fixture has no players" %}</li>
                                {% endfor %}
                                {% if fixture.playerfixture_set.count < 2 and request.session.player and tournament.creator.id == request.session.player.id %} <button class="btn btn-primary">
                                    {% trans "Add a player" %}</button>
                                    {% endif %}
                            </ul>
                        </td>
                        <td>
                            {% for game in fixture.game_set.all %}
                            <button class="btn btn-secondary">
                                {% blocktranslate with game_number=forloop.counter %}
                                Game #{{ game_number }}
                                {% endblocktranslate %}
                            </button>
                            {% empty %}
                            <ul>
                                <li>{% trans "This fixture has no games" %}</li>
                            </ul>
                            {% endfor %}
                            {% if request.session.player and tournament.creator.id == request.session.player.id %}
                            <button class="btn btn-primary add-game" data-bs-toggle="modal" data-bs-target="#new_game" data-fixture-id="{{ fixture.id }}">
                                {% trans "Add a game" %}
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block modals %}
<div id="participants_list" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">{% trans "List of participants" %}</div>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped" id="list_of_participants">
                    <thead>
                        <tr>
                            <th>{% trans "Name" %}</th>
                            <th>{% trans "Class" %}</th>
                            {% if request.session.player.id == tournament.creator.id %}
                            <th>{% trans "Action" %}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if request.session.player.id == tournament.creator.id %}
                        {% for tournament_player in tournament.tournamentplayer_set.all%}
                        <tr>
                            <td>
                                {{ tournament_player.player.name }}
                            </td>
                            <td>
                                {{ tournament_player.player.class }}
                            </td>
                            <td>
                                {% if tournament_player.participating and not tournament_player.kicked_out %}
                                <button class="btn btn-danger" onclick="kickOut({{ tournament_player.id }})">{% trans
                                    "Kick out" %}</button>
                                {% elif not tournament_player.participating %}
                                <button class="btn btn-primary" onclick="enroll( {{ tournament_player.id }} )">{% trans
                                    "Enroll" %}</button>
                                {% elif tournament.kicked_out %}
                                <button class="btn btn-outline-danger disabled">{% trans "Kicked out" %}</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        {% for player in tournament.enrolled_participants %}
                        <tr>
                            <td>
                                {{ player.player.name }}
                            </td>
                            <td>
                                {{ player.player.classroom }}
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% if request.session.player and tournament.creator.id == request.session.player.id %}
<div id="new_game" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="new_game_fixture" readonly>
                <div class="mb-3">
                    <label for="new_game_classroom">{% trans "Classroom*" %}</label>
                    <input type="text" class="form-control" id="new_game_classroom">
                </div>
                <div class="mb-3">
                    <label for="new_game_date">{% trans "Date*" %}</label>
                    <input type="date" class="form-control" id="new_game_date">
                </div>
                <div class="row">
                    <div class="col">
                        <label for="new_game_period">{% trans "Period*" %}</label>
                        <select class="form-control select" id="new_game_period">
                            <option value="break">{% trans "Break" %}</option>
                            <option value="after_school">{% trans "After school" %}</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="new_game_number">{% trans "Number*" %}</label>
                        <input type="number" class="form-control" id="new_game_number" value=1 min="1">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="add-game">{% trans "Submit" %}</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}